﻿<div class="profile-authentication-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="profile-authentication-image">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="content-image">
                                <div class="logo">
                                    <a href="index.html"><img src="~/assets/images/logo.png" alt="Zust"></a>
                                </div>
                                <div class="vector-image">
                                    <img src="~/assets/images/vector.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="register-form">
                    <h2>Register</h2>

                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control">
                        </div>

                        <div class="remember-me-wrap">
                            <p>
                                <input type="checkbox" id="test1">
                                <label for="test1">I Accept The <a href="privacy.html">Privacy</a></label>
                            </p>
                        </div>
                        <button type="submit" class="default-btn">Register</button>
                        <div class="or-text"><span>Or</span></div>
                        <button type="submit" class="google-btn">Log In with Google</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="home-btn-icon">
        <a href="index.html"><i class="flaticon-home"></i></a>
    </div>
</div>