<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialNetwork.WebUI.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/bootsrap.min.css" />
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/remixicon.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/css/simplebar.min.css">
    <link rel="stylesheet" href="~/css/metismenu.min.css">
    <link rel="stylesheet" href="~/css/carousel.min.css">
    <link rel="stylesheet" href="~/css/default.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <title>Zust - Social Community & Marketplace HTML Template</title>

    <link rel="icon" type="image/png" href="assets/images/favicon.png">
</head>
<body>
    @* <div class="preloader-area">
    <div class="spinner">
    <div class="inner">
    <div class="disc"></div>
    <div class="disc"></div>
    <div class="disc"></div>
    </div>
    </div>
    </div> *@
    <div class="main-content-wrapper d-flex flex-column">

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="main-responsive-nav">
                <div class="main-responsive-menu">
                    <div class="responsive-burger-menu d-lg-none d-block">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </div>
                </div>
            </div>

            <div class="main-navbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="index.html" class="navbar-brand d-flex align-items-center">
                        <img src="/images/logo.png" alt="image">
                    </a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-burger-menu m-auto">
                            <span class="top-bar"></span>
                            <span class="middle-bar"></span>
                            <span class="bottom-bar"></span>
                        </div>

                        <div class="search-box m-auto">
                            <form>
                                <input type="text" class="input-search" placeholder="Search...">
                                <button type="submit"><i class="ri-search-line"></i></button>
                            </form>
                        </div>

                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="/Home/Index" class="home-btn"><i class="flaticon-home"></i></a>
                            </div>
                            <div class="option-item">
                                <div class="dropdown friend-requests-nav-item">
                                    <a href="/Friends/Index" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="friend-requests-btn">
                                            <i class="flaticon-user"></i>
                                            <span>3</span>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu">
                                        <div class="friend-requests-header d-flex justify-content-between align-items-center">
                                            <h3>Friend Requests</h3>
                                            <i class="flaticon-menu"></i>
                                        </div>

                                        <div class="friend-requests-body" data-simplebar>
                                            <div class="item d-flex align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-2.jpg" class="rounded-circle" alt="image"></a>
                                                </div>

                                                <div class="content d-flex justify-content-between align-items-center">
                                                    <div class="text">
                                                        <h4><a href="#">Sandra Cross</a></h4>
                                                        <span>26 Friends</span>
                                                    </div>
                                                    <div class="btn-box d-flex align-items-center">
                                                        <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                        <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item d-flex align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-3.jpg" class="rounded-circle" alt="image"></a>
                                                </div>

                                                <div class="content d-flex justify-content-between align-items-center">
                                                    <div class="text">
                                                        <h4><a href="#">Kenneth Crowe</a></h4>
                                                        <span>53 Friends</span>
                                                    </div>
                                                    <div class="btn-box d-flex align-items-center">
                                                        <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                        <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item d-flex align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-4.jpg" class="rounded-circle" alt="image"></a>
                                                </div>

                                                <div class="content d-flex justify-content-between align-items-center">
                                                    <div class="text">
                                                        <h4><a href="#">Andrea Harwell</a></h4>
                                                        <span>99 Friends</span>
                                                    </div>
                                                    <div class="btn-box d-flex align-items-center">
                                                        <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                        <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item d-flex align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-5.jpg" class="rounded-circle" alt="image"></a>
                                                </div>

                                                <div class="content d-flex justify-content-between align-items-center">
                                                    <div class="text">
                                                        <h4><a href="#">John Lago</a></h4>
                                                        <span>18 Friends</span>
                                                    </div>
                                                    <div class="btn-box d-flex align-items-center">
                                                        <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                        <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item d-flex align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-6.jpg" class="rounded-circle" alt="image"></a>
                                                </div>

                                                <div class="content d-flex justify-content-between align-items-center">
                                                    <div class="text">
                                                        <h4><a href="#">Sandra Cross</a></h4>
                                                        <span>26 Friends</span>
                                                    </div>
                                                    <div class="btn-box d-flex align-items-center">
                                                        <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                        <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item d-flex align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-7.jpg" class="rounded-circle" alt="image"></a>
                                                </div>

                                                <div class="content d-flex justify-content-between align-items-center">
                                                    <div class="text">
                                                        <h4><a href="#">Kenneth Crowe</a></h4>
                                                        <span>53 Friends</span>
                                                    </div>
                                                    <div class="btn-box d-flex align-items-center">
                                                        <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                        <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item d-flex align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-8.jpg" class="rounded-circle" alt="image"></a>
                                                </div>

                                                <div class="content d-flex justify-content-between align-items-center">
                                                    <div class="text">
                                                        <h4><a href="#">Andrea Harwell</a></h4>
                                                        <span>99 Friends</span>
                                                    </div>
                                                    <div class="btn-box d-flex align-items-center">
                                                        <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                        <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item d-flex align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-9.jpg" class="rounded-circle" alt="image"></a>
                                                </div>

                                                <div class="content d-flex justify-content-between align-items-center">
                                                    <div class="text">
                                                        <h4><a href="#">John Lago</a></h4>
                                                        <span>18 Friends</span>
                                                    </div>
                                                    <div class="btn-box d-flex align-items-center">
                                                        <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                        <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="view-all-requests-btn">
                                                <a href="/Friends/Index" class="default-btn">View All Requests</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="option-item">
                                <div class="dropdown messages-nav-item">
                                    <a href="/Message/GoChat" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="messages-btn">
                                            <i class="flaticon-email"></i>
                                            <span>2</span>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu">
                                        <div class="messages-header d-flex justify-content-between align-items-center">
                                            <h3>Messages</h3>
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <div class="messages-search-box">
                                            <form>
                                                <input type="text" class="input-search" placeholder="Search Message...">
                                                <button type="submit"><i class="ri-search-line"></i></button>
                                            </form>
                                        </div>
                                        <div class="messages-body" data-simplebar>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">James Vanwin</a></h4>
                                                    <span>Hello Dear I Want Talk To You</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-12.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Harry Lopez</a></h4>
                                                    <span>Hi. I Am looking For UI Designer</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-13.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Matthew Smith</a></h4>
                                                    <span>Thanks For Connecting!</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-14.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Russe Smith</a></h4>
                                                    <span>Thanks For Connecting!</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-1.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">James Vanwin</a></h4>
                                                    <span>Hello Dear I Want Talk To You</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-2.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Harry Lopez</a></h4>
                                                    <span>Hi. I Am looking For UI Designer</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-3.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Matthew Smith</a></h4>
                                                    <span>Thanks For Connecting!</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-4.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Russe Smith</a></h4>
                                                    <span>Thanks For Connecting!</span>
                                                </div>
                                            </div>
                                            <div class="view-all-messages-btn">
                                                <a href="/Message/GoChat" class="default-btn">View All Messages</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="option-item">
                                <div class="dropdown notifications-nav-item">
                                    <a href="/Notification/Index" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="notifications-btn">
                                            <i class="flaticon-bell"></i>
                                            <span>1</span>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu">
                                        <div class="notifications-header d-flex justify-content-between align-items-center">
                                            <h3>Notifications</h3>
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <div class="notifications-body" data-simplebar>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">James Vanwin</a></h4>
                                                    <span>Posted A Comment On Your Status</span>
                                                    <span class="main-color">20 Minites Ago</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-12.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Harry Lopez</a></h4>
                                                    <span>Sent You A Friend Request</span>
                                                    <span class="main-color">2 Days Ago</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-13.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Matthew Smith</a></h4>
                                                    <span>Add A Photo In Design Group</span>
                                                    <span class="main-color">3 Days Ago</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-5.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">James Vanwin</a></h4>
                                                    <span>Posted A Comment On Your Status</span>
                                                    <span class="main-color">20 Minites Ago</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-6.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Harry Lopez</a></h4>
                                                    <span>Sent You A Friend Request</span>
                                                    <span class="main-color">2 Days Ago</span>
                                                </div>
                                            </div>
                                            <div class="item d-flex justify-content-between align-items-center">
                                                <div class="figure">
                                                    <a href="#"><img src="assets/images/user/user-7.jpg" class="rounded-circle" alt="image"></a>
                                                </div>
                                                <div class="text">
                                                    <h4><a href="#">Matthew Smith</a></h4>
                                                    <span>Add A Photo In Design Group</span>
                                                    <span class="main-color">3 Days Ago</span>
                                                </div>
                                            </div>
                                            <div class="view-all-notifications-btn">
                                                <a href="/Notification/Index" class="default-btn">View All Notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="option-item">
                                <div class="dropdown language-option">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="flaticon-global"></i>
                                        <span class="lang-name"></span>
                                    </button>
                                    <div class="dropdown-menu language-dropdown-menu">
                                        <a class="dropdown-item" href="#">
                                            <img src="/images/uk.png" alt="flag">
                                            Eng
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="/images/china.png" alt="flag">
                                            简体中文
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <img src="/images/uae.png" alt="flag">
                                            العربيّة
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="option-item">
                                <div class="dropdown profile-nav-item">
                                    @await Component.InvokeAsync("CurrentUser")

                                    @* <a href="#" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="menu-profile">
                                            @* //-------------------------------------------------------------------------------------------------------------------------- *@
                                            @* <img src="/images/user-1.jpg" class="rounded-circle" alt="image">
                                            <span class="name">Matthew</span>
                                            <span class="status-online"></span>
                                        </div> *@
                                    @* </a> *@

                                    <div class="dropdown-menu">
                                        <div class="profile-header">
                                            <h3>Matthew Turner</h3>
                                            <a href="mailto:matthew507@gmail.com">matthew507@gmail.com</a>
                                        </div>
                                        <ul class="profile-body">
                                            <li><i class="flaticon-user"></i> <a href="/Profile/Index">My Profile</a></li>
                                            <li><i class="flaticon-settings"></i> <a href="/Setting/Index">Setting</a></li>
                                            <li><i class="flaticon-privacy"></i> <a href="privacy.html">Privacy</a></li>
                                            <li><i class="flaticon-information"></i> <a href="help-and-support.html">Help & Support</a></li>
                                            <li><i class="flaticon-logout"></i> <a href="/Account/LogOut">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="option-inner">
                            <div class="others-options d-flex align-items-center">
                                <div class="option-item">
                                    <a href="index.html" class="home-btn"><i class="flaticon-home"></i></a>
                                </div>
                                <div class="option-item">
                                    <div class="dropdown friend-requests-nav-item">
                                        <a href="#" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="friend-requests-btn">
                                                <i class="flaticon-user"></i>
                                                <span>3</span>
                                            </div>
                                        </a>

                                        <div class="dropdown-menu">
                                            <div class="friend-requests-header d-flex justify-content-between align-items-center">
                                                <h3>Friend Requests</h3>
                                                <i class="flaticon-menu"></i>
                                            </div>

                                            <div class="friend-requests-body">
                                                <div class="item d-flex align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-2.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>

                                                    <div class="content d-flex justify-content-between align-items-center">
                                                        <div class="text">
                                                            <h4><a href="#">Sandra Cross</a></h4>
                                                            <span>26 Friends</span>
                                                        </div>
                                                        <div class="btn-box d-flex align-items-center">
                                                            <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                            <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item d-flex align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-3.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>

                                                    <div class="content d-flex justify-content-between align-items-center">
                                                        <div class="text">
                                                            <h4><a href="#">Kenneth Crowe</a></h4>
                                                            <span>53 Friends</span>
                                                        </div>
                                                        <div class="btn-box d-flex align-items-center">
                                                            <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                            <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item d-flex align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-4.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>

                                                    <div class="content d-flex justify-content-between align-items-center">
                                                        <div class="text">
                                                            <h4><a href="#">Andrea Harwell</a></h4>
                                                            <span>99 Friends</span>
                                                        </div>
                                                        <div class="btn-box d-flex align-items-center">
                                                            <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                            <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item d-flex align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-5.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>

                                                    <div class="content d-flex justify-content-between align-items-center">
                                                        <div class="text">
                                                            <h4><a href="#">John Lago</a></h4>
                                                            <span>18 Friends</span>
                                                        </div>
                                                        <div class="btn-box d-flex align-items-center">
                                                            <button class="delete-btn d-inline-block me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" type="button"><i class="ri-close-line"></i></button>

                                                            <button class="confirm-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm" type="button"><i class="ri-check-line"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="view-all-requests-btn">
                                                    <a href="friends.html" class="default-btn">View All Requests</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-item">
                                    <div class="dropdown messages-nav-item">
                                        <a href="#" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="messages-btn">
                                                <i class="flaticon-email"></i>
                                                <span>2</span>
                                            </div>
                                        </a>

                                        <div class="dropdown-menu">
                                            <div class="messages-header d-flex justify-content-between align-items-center">
                                                <h3>Messages</h3>
                                                <i class="flaticon-menu"></i>
                                            </div>
                                            <div class="messages-search-box">
                                                <form>
                                                    <input type="text" class="input-search" placeholder="Search Message...">
                                                    <button type="submit"><i class="ri-search-line"></i></button>
                                                </form>
                                            </div>
                                            <div class="messages-body">
                                                <div class="item d-flex justify-content-between align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>
                                                    <div class="text">
                                                        <h4><a href="#">James Vanwin</a></h4>
                                                        <span>Hello Dear I Want Talk To You</span>
                                                    </div>
                                                </div>
                                                <div class="item d-flex justify-content-between align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-12.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>
                                                    <div class="text">
                                                        <h4><a href="#">Harry Lopez</a></h4>
                                                        <span>Hi. I Am looking For UI Designer</span>
                                                    </div>
                                                </div>
                                                <div class="item d-flex justify-content-between align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-13.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>
                                                    <div class="text">
                                                        <h4><a href="#">Matthew Smith</a></h4>
                                                        <span>Thanks For Connecting!</span>
                                                    </div>
                                                </div>
                                                <div class="item d-flex justify-content-between align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-14.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>
                                                    <div class="text">
                                                        <h4><a href="#">Russe Smith</a></h4>
                                                        <span>Thanks For Connecting!</span>
                                                    </div>
                                                </div>
                                                <div class="view-all-messages-btn">
                                                    <a href="messages.html" class="default-btn">View All Messages</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-item">
                                    <div class="dropdown notifications-nav-item">
                                        <a href="#" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="notifications-btn">
                                                <i class="flaticon-bell"></i>
                                                <span>1</span>
                                            </div>
                                        </a>

                                        <div class="dropdown-menu">
                                            <div class="notifications-header d-flex justify-content-between align-items-center">
                                                <h3>Notifications</h3>
                                                <i class="flaticon-menu"></i>
                                            </div>
                                            <div class="notifications-body">
                                                <div class="item d-flex justify-content-between align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>
                                                    <div class="text">
                                                        <h4><a href="#">James Vanwin</a></h4>
                                                        <span>Posted A Comment On Your Status</span>
                                                        <span class="main-color">20 Minites Ago</span>
                                                    </div>
                                                </div>
                                                <div class="item d-flex justify-content-between align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-12.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>
                                                    <div class="text">
                                                        <h4><a href="#">Harry Lopez</a></h4>
                                                        <span>Sent You A Friend Request</span>
                                                        <span class="main-color">2 Days Ago</span>
                                                    </div>
                                                </div>
                                                <div class="item d-flex justify-content-between align-items-center">
                                                    <div class="figure">
                                                        <a href="#"><img src="assets/images/user/user-13.jpg" class="rounded-circle" alt="image"></a>
                                                    </div>
                                                    <div class="text">
                                                        <h4><a href="#">Matthew Smith</a></h4>
                                                        <span>Add A Photo In Design Group</span>
                                                        <span class="main-color">3 Days Ago</span>
                                                    </div>
                                                </div>
                                                <div class="view-all-notifications-btn">
                                                    <a href="notifications.html" class="default-btn">View All Notifications</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-item">
                                    <div class="dropdown language-option">
                                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="flaticon-global"></i>
                                            <span class="lang-name"></span>
                                        </button>
                                        <div class="dropdown-menu language-dropdown-menu">
                                            <a class="dropdown-item" href="#">
                                                <img src="assets/images/uk.png" alt="flag">
                                                Eng
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img src="assets/images/china.png" alt="flag">
                                                简体中文
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <img src="assets/images/uae.png" alt="flag">
                                                العربيّة
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-item">
                                    <div class="dropdown profile-nav-item">
                                        <a href="#" class="dropdown-bs-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="menu-profile">
                                                <img src="assets/images/user/user-1.jpg" class="rounded-circle" alt="image">
                                                <span class="name">Matthew</span>
                                                <span class="status-online"></span>
                                            </div>
                                        </a>

                                        <div class="dropdown-menu">
                                            <div class="profile-header">
                                                <h3>Matthew Turner</h3>
                                                <a href="mailto:matthew507@gmail.com">matthew507@gmail.com</a>
                                            </div>
                                            <ul class="profile-body">
                                                <li><i class="flaticon-user"></i> <a href="/Profile/Index">My Profile</a></li>
                                                <li><i class="flaticon-settings"></i> <a href="/Setting/Index">Setting</a></li>
                                                <li><i class="flaticon-privacy"></i> <a href="privacy.html">Privacy</a></li>
                                                <li><i class="flaticon-information"></i> <a href="help-and-support.html">Help & Support</a></li>
                                                <li><i class="flaticon-logout"></i> <a href="/NewsFeed/Index">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-item">
                                    <div class="search-box">
                                        <form>
                                            <input type="text" class="input-search" placeholder="Search...">
                                            <button type="submit"><i class="ri-search-line"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!-- Start Sidemenu Area -->
        <div class="sidemenu-area">
            <div class="responsive-burger-menu d-lg-none d-block">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </div>

            <div class="sidemenu-body">
                <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link">
                            <span class="icon"><i class="flaticon-home"></i></span>
                            <span class="menu-title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/NewsFeed/Index" class="nav-link">
                            <span class="icon"><i class="flaticon-newspaper"></i></span>
                            <span class="menu-title">News Feed</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Friends/Index" class="nav-link">
                            <span class="icon"><i class="flaticon-friends"></i></span>
                            <span class="menu-title">Friends</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Message/GoChat" class="nav-link">
                            <span class="icon"><i class="flaticon-comment-1"></i></span>
                            <span class="menu-title">Messages</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Notification/Index" class="nav-link">
                            <span class="icon"><i class="flaticon-newspaper"></i></span>
                            <span class="menu-title">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Account/Login" class="nav-link">
                            <span class="icon"><i class="flaticon-user"></i></span>
                            <span class="menu-title">Login</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Account/Register" class="nav-link">
                            <span class="icon"><i class="flaticon-information"></i></span>
                            <span class="menu-title">Register</span>
                        </a>
                    </li>
                    @* <li class="nav-item">
                        <a href="/Event/Index" class="nav-link">
                            <span class="icon"><i class="flaticon-calendar"></i></span>
                            <span class="menu-title">Events</span>
                        </a>
                    </li> *@
                    @* <li class="nav-item">
                        <a href="/LiveChat/Index" class="nav-link">
                            <span class="icon"><i class="flaticon-live-chat"></i></span>
                            <span class="menu-title">Live Chat</span>
                        </a>
                    </li> *@
                </ul>
            </div>
        </div>
        <!-- End Sidemenu Area -->
        <!-- Start Right Sidebar Area -->
        <div class="right-sidebar-area" data-simplebar>
            <div class="chat-body" data-simplebar>
                <div class="chat-item" style="margin:auto;">
                    @await Component.InvokeAsync("Users")
                </div>
            </div>
        </div>
        <!-- End Right Sidebar Area -->

    </div>
    <!-- End Main Content Wrapper Area -->
    <!-- Start Copyright Area -->
    <div class="copyrights-area">
        <div class="container">
            <div class="row align-items-center">
                <p><i class="ri-copyright-line"></i> 2021 Zust. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
            </div>
        </div>
    </div>

    <div class="go-top">
        <i class="ri-arrow-up-line"></i>
    </div>

    @* <div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div> *@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
